main{
    padding-top: 5rem !important;
    overflow-y: scroll;
    align-items: initial;
}

#projects h2{
    margin-bottom: 2rem;
}

#projects .list-projects{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 4rem;
}

@media (min-width: 992px) {
    #projects .list-projects{
        flex-direction: row;
    }
}

#projects .list-projects .card{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2rem;
    border-radius: 1rem;
}

@media (min-width: 768px) {
    #projects .list-projects .card{
        padding: 2rem 3rem;
        border-radius: 1rem;
    }
}

@media (min-width: 992px) {
    #projects .list-projects .card{
        width: calc(50% - 2rem);
    }
}

#projects .list-projects .card h3{
    /*margin-bottom: 2rem;*/
    height: 5rem;
}

#projects .list-projects .card .image{
    overflow: hidden;
    border-radius: 1rem;
}